

.basket_630px{
    width: 56px;
    height: 56px;
    background: linear-gradient(180deg, #FF6A0A 0%, #FD5608 100%);
    filter: drop-shadow(0px 7px 25px rgba(0, 0, 0, 0.15));
    border-radius: 50%;
    display: none;
    position: fixed;
    right: 20px;
    bottom: 20px;
    &_img{
        width: 28px;
        height: 28px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
    &_div{
        position: absolute;
        width: 22px;
        height: 22px;
        background-color: #FFF;
        border: 1px solid #FF6409;
        border-radius: 50%;
        top: 0;
        left: 70%;
        display: flex;
        justify-content: center;
        align-items: center;

        &_text{
            color: #FF6409;
            text-align: center;
            font-family: 'Nunito', sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
}

.deleteProduct{
    width: 40px;
    height: 40px;
    position: relative;
    cursor: pointer;
}
.basicProduct{
    cursor: pointer;
}
.addProduct{
    width: 40px;
    height: 40px;
    position: relative;
    border-top-right-radius: 1000px;
    border-bottom-right-radius: 1000px;
    cursor: pointer;
}
.amount{
    color: var(--Gray-dark, #73798C);
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.elementPlus{
    stroke-width: 2px;
    stroke: var(--Gray-dark, #73798C);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1;
}
.elementMinus{
    stroke-width: 2px;
    stroke: var(--Gray-dark, #73798C);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-75%);
}
.listener{
    display: none;
    flex-direction: row;
    gap: 20px;
    border-radius: 1000px;
    background: var(--Gray-corporate, #F3F3F7);
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 600;
    padding: 0;
    border: none;
    transition: 0.4s;
    align-items: center;
}
.container-window{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
}
.basketMain{
    background: #000;
    position: fixed;
    z-index: -1;
    top: 0;
    width: 100%;
    height: 100vh;
    opacity: 0;
    transition: 0.4s;
    display: flex;
    align-items: center;
    justify-content: center;


    &__window{
        display: flex;
        flex-direction: row;
        max-width: 740px;
        width: 100%;
        padding: 30px;
        opacity: 1;
        background-color: #FFF;
        filter: drop-shadow(0px 6px 55px rgba(0, 0, 0, 0.10));
        border-radius: 15px;
        gap: 50px;
        
        &_img{
            width: 292px;
            height: 292px;
            margin: 18px 0;
        }

        &_content{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
            &_info{
                display: flex;
                flex-direction: column;

                &_name{
                    color: #000;
                    font-family: 'Nunito', sans-serif;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 28px;
                    margin-bottom: 11px;
                }
                &_amount{
                    color: var(--Gray-dark, #73798C);
                    font-family: 'Nunito', sans-serif;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    margin-bottom: 15px;
                }
                &_desc{
                    color: #4D4D4D;
                    font-family: 'Nunito', sans-serif;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 22px;
                    margin-left: 10px;
                }
            }
            &_button{
                color: #FFF;
                text-align: center;
                font-family: 'Nunito', sans-serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                border-radius: 1000px;
                background: var(--Orange-corporate, #F96900);
                border: none;
                padding: 13px 50px;
                cursor: pointer;
                margin-top: 15px;
            }
        }
    }
}
.closeBasketMain{
    cursor: pointer;
    margin-top: 15px;
}

@media screen and (max-width:800px){
    .basketMain{
        &__window{
            gap: 20px;
            &_img{
                width: 230px;
                height: 230px;
            }
        }
    }
}
@media screen and (max-width:735px){
    .basketMain{
        &__window{
            &_content{
                &_button{
                    padding: 13px 25px;
                }
            }
            &_img{
                width: 190px;
                height: 190px;
            }
        }
    }
    .closeBasketMain{
        width: 23px;
        height: 23px;
    }
}

@media screen and (max-width:640px){
    .basketMain{
        &__window{
            flex-direction: column;
            padding: 20px;
            &_img{
                margin: 0;
            }
        }
    }
    .closeBasketMain{
        margin: 0;
        margin-right: 10px;
    }
    .container-window{
        flex-direction: column-reverse;
        align-items: flex-end;
        gap: 15px;
    }
}

@media screen and (max-width:400px){
    .addProduct{
        height: 33px;
        width: 30px;
    }
    .deleteProduct{
        height: 33px;
        width: 30px;
    }
}